development: &app_config

  allowed_app_access_tokens:
    - 'POSTMAN_APPTOKEN'
    - 'OTHER_APPTOKEN'

  allowed_origins:
    - 'localhost:3000'

  ssl_enabled: false

production:
  <<: *app_config

test:
  <<: *app_config
